<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/WebRTCTest" version="0.2.1" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="1mmA6DdHYM.WebRTCTest" package="1mmA6DdHYM" required_version="6.5"/>
    <author href="http://developer.samsung.com/tv" email="juan.cortes@samsung.com">Juan Cortes</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>WebRTCTest</name>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/b2bcontrol"/>
    <tizen:privilege name="http://tizen.org/api/system"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/drmplay"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
